.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.maze{
    height: 800px;
    width: 800px;
    background-color: black;
}

.text-box {
    margin: 1rem 0;
}

input {
    margin-bottom: 1rem;
}
